---
---

.live-icon::before {
    content: "LIVE";
    background-color: red;
    display: inline;
    color: white;
    border-radius: 5px;
    padding: 2px 4px;
}


#lot-status-big {
    width: 45vw;
    height: 45vw;
    margin: 5px;
}