---
layout: null
---

<h4>All Lots</h4>

<div class="collection">
    <a class="collection-item avatar" href="#!lot" 
       ng-repeat="lot in lots" 
       ng-click="lotPageInit(lot.name)">

      <img src="{{site.url}}/img/CUparkit_Logo_IOS.png" alt="" class="circle">
      <span class="title">[[lot.name]] ([[lot.location]])</span>
      <p><span class="live-icon"></span> Busier than usual.</p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </a>
</div>
