
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <ul class="left">
                <li><a href="#"><i class="material-icons">arrow_back</i></a></li>
                <!-- <li><a href="#" data-target="side-navigation" class="sidenav-trigger"><i class="material-icons">menu</i></a></li> -->
            </ul>
            <a href="#" class="brand-logo center">CUparkit</a>

            <ul class="right">
                <li><a href="#"><i class="material-icons">settings</i></a></li>
            </ul>            
            
        </div>
    </div>
</nav>

