
<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- ProgressBar.js -->
<script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>

<!-- AngularJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js" integrity="sha256-QRJz3b0/ZZC4ilKmBRRjY0MgnVhQ+RR1tpWLYaRRjSo=" crossorigin="anonymous"></script>

<!-- Angular Route -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-route.min.js" integrity="sha256-PQfkC+TI/HZv0O9JbmrLmPyhgOT2hry24vA5yAV59zY=" crossorigin="anonymous"></script>

<!-- Angular Application -->
<script src="js/app.js"></script>

<!-- Initialization Script -->
<script>
    document.addEventListener('DOMContentLoaded', function() {

        // Side Navigation Initialization
        // var elems = document.querySelectorAll('.sidenav');
        // var instances = M.Sidenav.init(elems, undefined);

    });
</script>